<!DOCTYPE HTML>
<HTML>
<HEAD>
<meta charset="utf-8">
<Title> Скандинавская мифология::Главная</title>
</head>
<body>
<h1>Скандинавская мифология</h1></header>
<nav>Главная|<a href="creation.html">Создание мира</a>|<a href="structure.html">Устройство мира</a>|<a href="pantheon.html">Пантеон</a>|<a href="mythical_creatures.html">Мифические существа</a>|<a href="death.html">Смерть мира</a>|<a href="test.html">Тест</a></nav>
<h2>Главная</h2>
<img src="img/base.jpg">
<dl>Этот сайт был создан для легкого ознакомления с скандинавской мифологией.</dl>
<dl>Если вы хотите почитать о {{ isclever|random }}, вам сюда.

<dl>Кстати, если вы хотите пройти тест по скандинавской мифологии, нажмите  <a href="test.html">Тест </a> </dl>
<nav>Главная|<a href="creation.html">Создание мира</a>|<a href="structure.html">Устройство мира</a>|<a href="pantheon.html">Пантеон</a>|<a href="mythical_creatures.html">Мифические существа</a>|<a href="death.html">Смерть мира</a>|<a href="test.html">Тест</a></nav>
</Body>
</html>

